* text=auto eol=lf

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php_cs.dist.php export-ignore
/CLAUDE.md export-ignore
/Makefile export-ignore
/docker export-ignore
/infection.json5 export-ignore
/phpstan.neon export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/pint.json export-ignore
/tests export-ignore
